/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
* {
  margin: 0;
  font-family: "Poppins";
}

[aria-label="navbar"] {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  background-color: #000000;
  color: #fff;
  display: flex;
  position: relative;
  align-items: center;
  padding: 20px 64px;
  position: sticky;
  top: 0;
}

.navbar div:first-child {
  flex-grow: 1;
  width: 10%;
  width: 0;
}

.navbar div:first-child img {
  width: 108px;
}

.navbar .line::before {
  content: "";
  width: 0;
  height: 60%;
  position: absolute;
  border: 1px solid #fff;
  top: 15px;
  left: 218px;
}

.navbar .line {
  flex-grow: 2;
}

.navbar ul li {
  list-style: none;
  cursor: pointer;
}

.navbar ul li:hover {
  color: #ba0cc5;
}

.navbar ul {
  display: flex;
  gap: 60px;
}

.grow-list {
  flex-grow: 7;
}

button {
  background-color: #ba0cc5;
  color: #fff;
  border: 1px solid #ba0cc5;
  border-radius: 8px;
  padding: 10px 25px;
  font-weight: 600;
}

button:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #ba0cc5;
}

[aria-label="hero"] {
  background-image: url(/assets/bg.png);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.hero .hero-heading {
  width: 75%;
  font-size: 5.5rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.hero .hero-description {
  width: 75%;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.button-large {
  font-size: 25px;
}

.button-large:hover {
  border: 1px solid #ba0cc5;
}

ul li:nth-child(1)::after {
  content: "";
  display: inline-block;
  position: relative;
  left: 15px;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.2em solid #fff;
  border-top: 0.2em solid #fff;
  transform: rotate(135deg);
  margin-right: 0.5em;
}
